<h2></h2>
<p>Ahh, so you've found my about page. I bet you were asking yourself "who is this amazing programmer? She sounds really interesting". I'm just kidding, but I am glad you took a little time to find out about me.<br />

Of the many things I've learned and experienced in my life the things I most describe myself as are dancer and programmer. When I was thirteen I began dancing swing at a nearby studio, it has completely consumed my heart and I love dancing socially and competitively.
</p>
